<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.nfc" android:required="false" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="false" />

    <application
        >
        <activity
            android:name=".nfc.Nfc"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
<!--            <intent-filter android:priority="1000">-->
<!--                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:mimeType="text/plain" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".nfc.Card"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.nfc.action.TECH_DISCOVERED" />-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--            </intent-filter>-->
<!--            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"-->
<!--                android:resource="@xml/nfc_tech_filter" />-->
        </activity>
        <service android:name=".cardEmulation.KHostApduService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <!-- Intent filter indicating that we support card emulation. -->
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Required XML configuration file, listing the AIDs that we are emulating cards
                 for. This defines what protocols our card emulation service supports. -->
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice"/>
<!--            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"-->
<!--                android:resource="@xml/techlist" />-->
        </service>
    </application>
</manifest>